<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/aboutus.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>About Us</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html" >Home</a>
                <a href="../views/products.html">Products</a>
                <a href="../views/aboutus.html" class="active">About Us</a>
                <a href="../views/aboutus.html#contactsec">Contact Us</a>
            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="../views/chat.html" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="#" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>

    <header>
        <div class="header">
            <h1>About Us</h1>
        </div>
    </header>

    <main>
        <div class="welcome">
            <div class="welcome-text">
                <h1>Welcome to PeduliDisabilitas!</h1>
                <p>PeduliDisabilitas is a marketplace dedicated to showcasing and selling unique products created by talented individuals with disabilities. Our platform not only highlights their craftsmanship but also empowers them to achieve financial independence.</p>
            </div>
            <img src="/assets/image/aboutus/1.jpg" alt="">
        </div>

        <div class="value-list">
            <div class="values">
                <img src="/assets/image/aboutus/shared-vision.png" alt="">
                <div class="value-text">
                    <h2>Vision</h2>
                    <p>To create a world where every individual with a disability is recognized for their talents and has equal opportunities to succeed in the marketplace</p>
                </div>
            </div>
            <div class="values">
                <img src="/assets/image/aboutus/target.png" alt="">
                <div class="value-text">
                    <h2>Mission</h2>
                    <p>To provide a supportive platform that enables individuals with disabilities to showcase their products, enhance their skills, and connect with customers who value their creativity and hard work</p>
                </div>
            </div>
            <div class="values">
                <img class="values-image"src="/assets/image/aboutus/value.png" alt="">
                <div class="value-text">
                    <h2>Values</h2>
                    <ul>
                        <li>Empowerment</li>
                        <li>Inclusion</li>
                        <li>Quality</li>
                        <li>Respect</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="why">
            <img src="/assets/image/aboutus/2.jpg" alt="">
            <div class="why-text">
                <h1>Why PeduliDisabilitas?</h1>
                <p>We believe that everyone deserves an opportunity to shine, regardless of their abilities. By creating this marketplace, we aim to:</p>
                <ul>
                    <li>Highlight Talent: Showcase the incredible skills and creativity of individuals with disabilities.</li>
                    <li>Foster Inclusion: Build a community that values diversity and promotes equal opportunities.</li>
                    <li>Support Financial Independence: Help individuals gain financial stability through their craftsmanship.</li>
                </ul>
            </div>
            
        </div>

        <div class="tutorial">
            <h1>Sell Your Products On Our Platform</h1>
            <p>At Peduli Disabilitas, we invite individuals with disabilities to sell their handcrafted items. Here’s how it works:</p>
            <div class="tutorial-list">
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/signup.png" alt="">
                    <div class="tutorial-text">
                        <h2>Sign Up</h2>
                        <p>Create an Account on Our Website</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/file.png" alt="">
                    <div class="tutorial-text">
                        <h2>Upload Products</h2>
                        <p> Add your unique creations to our platform.</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/waiting.png" alt="">
                    <div class="tutorial-text">
                        <h2>Wait for Admin Approval</h2>
                        <p>Your submission will be reviewed by our admin team.</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/stamp.png" alt="">
                    <div class="tutorial-text">
                        <h2>Verification Done</h2>
                        <p>Once verified as a person with a disability, your products will be showcased on our website.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-us" id="contactsec">
            <div class="contact">
                <p class="headline-contact">Contact Us</p>
                <p class="headline-desc">If you have any question regarding a particular things, our team is more than happy to assist you.</p>
                <p class="headline-desc">
                    Reach out to us and we will provide the information that you need.
                </p>
            </div>
        

        
            <form id="form-contactus">
                <div class="formfield">
                    <label for="fullname" class="fullname-text">Full Name <p style="color: red;">*</p></label>
                    <input type="text" placeholder="Please enter your name"id="fullname" name="fullname">
                </div>
                <div class="formfield">
                    <label for="email" class="fullname-text">Email <p style="color: red;">*</p></label>
                    <input type="text" placeholder="Please enter your email"id="email" name="email">
                </div>
                <div class="formfield">
                    <label for="phonenum" class="fullname-text">Phone Number <p style="color: red;">*</p></label>
                    <input type="text" placeholder="123-456-7890" id="phonenum" name="phonenum">
                </div>
                <div class="formfield">
                    <label for="country" class="fullname-text">Choose country <p style="color: red;">*</p></label>
                            <!-- Country names and Country Name -->
                    <select class="form-select" id="country" name="country">
                    <option value="">Select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Aland Islands">Aland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antarctica">Antarctica</option>
                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Bouvet Island">Bouvet Island</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Congo, Democratic Republic of the Congo">Congo, Democratic Republic of the Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote D'Ivoire">Cote D'Ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curacao">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Territories">French Southern Territories</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guernsey">Guernsey</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jersey">Jersey</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                    <option value="Korea, Republic of">Korea, Republic of</option>
                    <option value="Kosovo">Kosovo</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macao">Macao</option>
                    <option value="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montenegro">Montenegro</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Namibia">Namibia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau">Palau</option>
                    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Pitcairn">Pitcairn</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russian Federation">Russian Federation</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Saint Barthelemy">Saint Barthelemy</option>
                    <option value="Saint Helena">Saint Helena</option>
                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                    <option value="Saint Lucia">Saint Lucia</option>
                    <option value="Saint Martin">Saint Martin</option>
                    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                    <option value="Samoa">Samoa</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Sint Maarten">Sint Maarten</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                    <option value="South Sudan">South Sudan</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Timor-Leste">Timor-Leste</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Viet Nam">Viet Nam</option>
                    <option value="Virgin Islands, British">Virgin Islands, British</option>
                    <option value="Virgin Islands, U.s.">Virgin Islands, U.s.</option>
                    <option value="Wallis and Futuna">Wallis and Futuna</option>
                    <option value="Western Sahara">Western Sahara</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
        
                <div class="formmess" >
                    <label for="message" class="fullname-text">Message<p style="color: red;">*</p></label>
                    <input type="text" id= "message2" name="message">
                </div>
        
                <div class="formagree" id="iagree">
                    <label  class="yes"for="agree" >Yes, I’d like to receive emails for PeduliDisabilitas promotions and products.</label>
                    <input class="check"type="checkbox" id="agree" name="agree">
                </div>
        
                <button type="submit" id="submit-button">SUBMIT MESSAGE</button>
        
            </form>
        </div>
       
        
    </main> 

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    
    <script>
        feather.replace()
    </script>

    <script src="../scripts/contact.js"></script>
    <script src="../scripts/script.js">
    </script>
</body>
</html>