<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/aboutus.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>About Us</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html" >Home</a>
                <a href="../views/products.html">Products</a>
                <a href="../views/aboutus.html" id="about">About Us</a>
                <a href="../views/aboutus.html#contactsec" id="contact">Contact Us</a>

            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="javascript:void(0);" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="#" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>

    <header>
        <div class="header">
            <h1>About Us</h1>
        </div>
    </header>

    <main>
        <div class="welcome">
            <div class="welcome-text">
                <h1>Welcome to PeduliDisabilitas!</h1>
                <p>PeduliDisabilitas is a marketplace dedicated to showcasing and selling unique products created by talented individuals with disabilities. Our platform not only highlights their craftsmanship but also empowers them to achieve financial independence.</p>
            </div>
            <img src="/assets/image/aboutus/1.jpg" alt="">
        </div>

        <div class="value-list">
            <div class="values">
                <img src="/assets/image/aboutus/shared-vision.png" alt="">
                <div class="value-text">
                    <h2>Vision</h2>
                    <p>To create a world where every individual with a disability is recognized for their talents and has equal opportunities to succeed in the marketplace</p>
                </div>
            </div>
            <div class="values">
                <img src="/assets/image/aboutus/target.png" alt="">
                <div class="value-text">
                    <h2>Mission</h2>
                    <p>To provide a supportive platform that enables individuals with disabilities to showcase their products, enhance their skills, and connect with customers who value their creativity and hard work</p>
                </div>
            </div>
            <div class="values">
                <img class="values-image"src="/assets/image/aboutus/value.png" alt="">
                <div class="value-text">
                    <h2>Values</h2>
                    <ul>
                        <li>Empowerment</li>
                        <li>Inclusion</li>
                        <li>Quality</li>
                        <li>Respect</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="why">
            <img src="/assets/image/aboutus/2.jpg" alt="">
            <div class="why-text">
                <h1>Why PeduliDisabilitas?</h1>
                <p>We believe that everyone deserves an opportunity to shine, regardless of their abilities. By creating this marketplace, we aim to:</p>
                <ul>
                    <li>Highlight Talent: Showcase the incredible skills and creativity of individuals with disabilities.</li>
                    <li>Foster Inclusion: Build a community that values diversity and promotes equal opportunities.</li>
                    <li>Support Financial Independence: Help individuals gain financial stability through their craftsmanship.</li>
                </ul>
            </div>
            
        </div>

        <div class="tutorial">
            <h1>Sell Your Products On Our Platform</h1>
            <p>At Peduli Disabilitas, we invite individuals with disabilities to sell their handcrafted items. Here’s how it works:</p>
            <div class="tutorial-list">
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/signup.png" alt="">
                    <div class="tutorial-text">
                        <h2>Sign Up</h2>
                        <p>Create an Account on Our Website</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/file.png" alt="">
                    <div class="tutorial-text">
                        <h2>Upload Products</h2>
                        <p> Add your unique creations to our platform.</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/waiting.png" alt="">
                    <div class="tutorial-text">
                        <h2>Wait for Admin Approval</h2>
                        <p>Your submission will be reviewed by our admin team.</p>
                    </div>
                </div>
                <div class="tutorial-step">
                    <img src="/assets/image/aboutus/stamp.png" alt="">
                    <div class="tutorial-text">
                        <h2>Verification Done</h2>
                        <p>Once verified as a person with a disability, your products will be showcased on our website.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-us" id="contactsec">
            <div class="contact">
                <p class="headline-contact">Contact Us</p>
                <p class="headline-desc">If you have any question regarding a particular things, our team is more than happy to assist you.</p>
                <p class="headline-desc">
                    Reach out to us and we will provide the information that you need.
                </p>
            </div>
        

        
            <form id="form-contactus">
                <div class="formfield">
                    <label for="fullname" class="fullname-text">Full Name <p style="color: red;">*</p></label>
                    <input type="text" placeholder="Please enter your name"id="fullname" name="fullname">
                </div>
                <div class="formfield">
                    <label for="email" class="fullname-text">Email <p style="color: red;">*</p></label>
                    <input type="text" placeholder="Please enter your email"id="email" name="email">
                </div>
                <div class="formfield">
                    <label for="phonenum" class="fullname-text">Phone Number <p style="color: red;">*</p></label>
                    <input type="text" placeholder="123-456-7890" id="phonenum" name="phonenum">
                </div>
                <div class="formfield">
                    <label for="country" class="fullname-text">Choose country <p style="color: red;">*</p></label>
                            <!-- Country names and Country Name -->
                        <select id="country" name="country" required>
                            <option value="">Select Region</option>
                            <option value="JI">Jakarta, Indonesia</option>
                            <option value="WJ">West Java, Indonesia</option>
                            <option value="EJ">East Java, Indonesia</option>
                            <option value="CJ">Central Java, Indonesia</option>
                            <option value="MS">West Sumatera, Indonesia</option>
                            <option value="MS">East Sumatera, Indonesia</option>
                            <option value="MS">South Sumatera, Indonesia</option>
                            <option value="MS">North Sumatera, Indonesia</option>
                            <option value="MS">South Kalimantan, Indonesia</option>
                            <option value="MS">North Kalimantan, Indonesia</option>
                            <option value="MS">East Kalimantan, Indonesia</option>
                            <option value="MS">West Kalimantan, Indonesia</option>
                            <option value="MS">West Sulawesi, Indonesia</option>
                            <option value="MS">South Sulawesi, Indonesia</option>
                            <option value="MS">North Sulawesi, Indonesia</option>
                            <option value="MS">Central Sulawesi, Indonesia</option>
                            <option value="MS">Southeast Sulawesi, Indonesia</option>
                            <!-- Add more countries as needed -->
                        </select>
                </div>
        
                <div class="formmess" >
                    <label for="message" class="fullname-text">Message<p style="color: red;">*</p></label>
                    <input type="text" id= "message2" name="message">
                </div>
        
                <div class="formagree" id="iagree">
                    <label  class="yes"for="agree" >Yes, I’d like to receive emails for PeduliDisabilitas promotions and products.</label>
                    <input class="check"type="checkbox" id="agree" name="agree">
                </div>
        
                <button type="submit" id="submit-button">SUBMIT MESSAGE</button>
        
            </form>
        </div>
       
        
    </main> 

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    
    <script>
        feather.replace()
    </script>

    <script src="../scripts/contact.js"></script>
    <script src="../scripts/script.js"></script>
    <script type="module" src="../custom/navMessage.js"></script>
</body>
</html>