<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/style/chat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Chat</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html" >Home</a>
                <a href="../views/products.html">Products</a>
                <a href="../views/aboutus.html" id="about">About Us</a>
                <a href="../views/aboutus.html#contactsec" id="contact">Contact Us</a>
            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="../views/chat.html" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="../views/cart.html" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>

    <main>
        <div class="container">
            <aside class="sidebar">
                <h3>Messages</h3>
                <div class="search-bar">
                    <input type="text" id="searchInput" placeholder="Search people or message...">
                    <i class="search icon"data-feather="search"></i>
                </div>
                <div class="contact-list">
                    <div class="contacts">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <div class="contact-name">
                            <h4>Suzanna Colins </h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <p>Dec 15</p>
                    </div>
                    <div class="contacts">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <div class="contact-name">
                            <h4>Suzanna Colins </h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <p>Dec 15</p>
                    </div>
                    <div class="contacts">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <div class="contact-name">
                            <h4>Suzanna Colins </h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <p>Dec 15</p>
                    </div>
                    <div class="contacts">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <div class="contact-name">
                            <h4>Suzanna Colins</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <p>Dec 15</p>
                    </div>
                    <div class="contacts">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <div class="contact-name">
                            <h4>Suzanna Colins </h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <p>Dec 15</p>
                    </div>
                </div>

                <div class="user-profile">
                    <div class="user">
                        <img src="../assets/image/profile-icon.png" alt="">
                        <div class="user-name">
                            <h4>User</h4>
                            <p>username</p>
                        </div>
                        
                    </div>
                </div>
            </aside>

            <div class="inside-text">
                <div class="inside-texts">
                    <div class="chat-header">
                        <img src="../assets/image/chat/chat-profile.jpg" alt="">
                        <p>Suzanna Collins</p>
                    </div>
                    <div class="chat-area">
                        <div class="seller">
                            <div class="seller-image">
                                <img src="../assets/image/chat/chat-profile.jpg" alt="">
                            </div>
                            <div class="message-received">
                                <div class="message-seller">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <div class="message-seller">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <div class="message-seller">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <p class="date">Sat 13.20</p>
                            </div>
                        </div>
                        <div class="sender">
                            <div class="message-send">
                                <div class="message-sender">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <div class="message-sender">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <div class="message-sender">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                </div>
                                <p class="date">Sat 13.20</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="chat-input">
                    <a href="#" id="image icon">
                        <i data-feather="image"></i>
                    </a>
                    <a href="#" id="paperclip icon">
                        <i data-feather="paperclip"></i>
                    </a>
                    <div class="inputs icon">
                        <input type="text" id="searchInput" placeholder="Input message...">
                        <i class="search icon"data-feather="smile"></i>
                    </div>
                    <a href="#" id="send icon">
                        <i data-feather="send"></i>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    
    <script>
        feather.replace()
    </script>

<script src="/public/scripts/contact.js"></script>
    <script src="../public/scripts/script.js">
    </script>
</body>
</html>