<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Home</title>
    
</head>
<body>
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html"  class="active" >Home</a>
                <a href="../views/products.html">Products</a>
                <a href="../views/aboutus.html" id="about">About Us</a>
                <a href="../views/aboutus.html#contactsec" id="contact">Contact Us</a>
            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="javascript:void(0);" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="../views/cart.html" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>

    <header class="hero" id="home" >
        <div class="hero-left">
            <h1>PeduliDisabilitas</h1>
            <p>Explore unique products made by people with disabilities. Every purchase supports job creation and empowers the disabled community.</p>
            <p class="get">Get to know us more!</p>
            
            <a class="shopNow_btn"href="#category">Shop Now</a>
        </div>
        <div class="hero-right" >
            <img src="../assets/image/banner.png">
        </div>
    </header>

    <main>
        <div class="category" id="category">
            <h2>Browse by Category</h2>
            <div class="category-list">
                <div class="categories">
                    <img src="../assets/image/category/food.png" alt="">
                    <p>Foods</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/drinks.png" alt="">
                    <p>Drinks</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/accessories.png" alt="">
                    <p>Accessories</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/clothes.png" alt="">
                    <p>Clothes</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/paintings.png" alt="">
                    <p>Paintings</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/handcrafts.png" alt="">
                    <p>Handcrafts</p>
                </div>
                <div class="categories">
                    <img src="../assets/image/category/batik.png" alt="">
                    <p>Batik</p>
                </div>
            </div>
        </div>

        <div class="service">
            <div class="services">
                <div class="service-text">
                    <h2>We Deliver to You!</h2>
                    <p>Your favorite handcrafted products, made by talented individuals with disabilities, are just a few clicks away, brought right to your door.</p>
                </div>
                <img src="../assets/image/delivery-box.png" alt="">
            </div>
            <div class="services">
                <img src="../assets/image/disabled-person.png" alt="">
                <div class="service-text">
                    <h2>Support Talent, Shop with Purpose</h2>
                    <p>Every purchase empowers individuals with disabilities and promotes inclusion.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <h2>Explore Our Products</h2>
            <p>Top Product</p>
            <div class="product-list">
                <div class="product-card">
                    <img class="product-image"src="../assets/image/tas anyaman.png" alt="">
                    <h3>Tas Anyaman</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/gelang.png" alt="">
                    <h3>Gelang Tali</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/kain batik.png" alt="">
                    <h3>Kain Batik Trusmi</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/tas.png" alt="">
                    <h3>Tote Bag Urban</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/category/paintings.png" alt="">
                    <h3>Lukisan</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image"src="../assets/image/tas anyaman.png" alt="">
                    <h3>Tas Anyaman</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/gelang.png" alt="">
                    <h3>Gelang Tali</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/kain batik.png" alt="">
                    <h3>Kain Batik Trusmi</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/tas.png" alt="">
                    <h3>Tote Bag Urban</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/category/paintings.png" alt="">
                    <h3>Lukisan</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="explore">
            <div class="explores">
                <img src="../assets/image/handicrafts.png" alt="">
                <div class="explore-text">
                    <h2>Explore Handicrafts made by disabled community</h2>
                    <a href="#">See more</a>
                </div>  
                
            </div>
            <div class="explores">
                <img src="../assets/image/bracelet.png" alt="">
                <div class="explore-text">
                    <h2>Explore Bracelet made by disabled community</h2>
                    <a href="#">See more</a>
                </div>  
                
            </div>
        </div>

        <div class="product">
            <h2>Recommendation</h2>
            <div class="product-list">
                <div class="product-card">
                    <img class="product-image"src="../assets/image/tas anyaman.png" alt="">
                    <h3>Tas Anyaman</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/gelang.png" alt="">
                    <h3>Gelang Tali</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/kain batik.png" alt="">
                    <h3>Kain Batik Trusmi</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/tas.png" alt="">
                    <h3>Tote Bag Urban</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                <div class="product-card">
                    <img class="product-image" src="../assets/image/category/paintings.png" alt="">
                    <h3>Lukisan</h3>
                    <p>Rp50.000</p>
                    <div class="ratings">
                        <img src="../assets/image/star.png" alt="">
                        <p>4.5 • terjual</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="signup">
            <div class="signup-left">
                <h1>Sell Your Creations!</h1>
                <p>Are you a talented individual with a disability looking to share your creations? Join us at PeduliDisabilitas and sell your unique handcrafted products!</p>
                <a class="signup_btn"href="../views/register.html">Sign Up Now</a>
            </div>
            <div class="signup-right" >
                <img src="../assets/image/disabled-person(2).png">
            </div>
        </div>

        <div class="learnmore">
            <div class="learn-text">
                <h1>Our Belief: Everyone Deserves a Chance!</h1>
                <p>We believe every person with a disability deserves to be employed and valued. Discover how PeduliDisabilitas is making a difference</p>
                
                <a class="learn_btn"href="../views/aboutus.html">Learn More About Us</a>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    
    <script>
        feather.replace()
    </script>

    <script src="../scripts/contact.js"></script>
    <script src="....//scripts/script.js">
    </script>
    <script type="module" src="../custom/navMessage.js"></script>
</body>
</html>