<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/public/style/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
        
        const firebaseConfig = {
          apiKey: "AIzaSyDlnPImmvlGesXSzXqH-RLI4QyL2qVkKd0",
          authDomain: "pedulidisabilitas-a8543.firebaseapp.com",
          projectId: "pedulidisabilitas-a8543",
          storageBucket: "pedulidisabilitas-a8543.appspot.com",
          messagingSenderId: "422069751597",
          appId: "1:422069751597:web:a69c60bea4000914090da4",
          measurementId: "G-8PET8RYEF8"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>

    <script type="module" src="/public/scripts/login.js" defer></script>
</head>
<body>
    <h1>PeduliDisabilitas.</h1>
    <form class="login-form" id="login-form">
        <h2>Login</h2>
        <div class="input-group1"></div>
            <label for="email">Email</label>
            <input type="email" id="login-email" name="email" placeholder="" required>

            <label for="password">Password</label>
            <input type="password" id="login-password" name="password" placeholder="" required>
        </div>
        <div class="button-login">
            <button class="log" type="submit">Login</button>
        </div>
        <h5>Don't have an account? <a class="regist" href="register.html">Register</a></h5>
    </form>
</body>
</html>