<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="../style/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
        import { getFirestore, doc, setDoc, getDoc } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-firestore.js";
        const firebaseConfig = {
          apiKey: "AIzaSyDlnPImmvlGesXSzXqH-RLI4QyL2qVkKd0",
          authDomain: "pedulidisabilitas-a8543.firebaseapp.com",
          projectId: "pedulidisabilitas-a8543",
          storageBucket: "pedulidisabilitas-a8543.appspot.com",
          messagingSenderId: "422069751597",
          appId: "1:422069751597:web:a69c60bea4000914090da4",
          measurementId: "G-8PET8RYEF8"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getFirestore(app);
    </script>

   
</head>
<body>
    <h1>PeduliDisabilitas.</h1>
    <div class="form-section">
        <form class="login-form" id="login-form">
            <h2>Login</h2>
            <div class="input-group1"></div>
                <label for="email">Email</label>
                <input type="email" id="login-email" name="email" placeholder="" required>
    
                <label for="password">Password</label>
                <input type="password" id="login-password" name="password" placeholder="" required>

                <button class="log" type="submit">Login</button>
                <h5>Don't have an account? <a class="regist" href="register.html">Register</a></h5>
            </div>
            
            
        </form>
    </div>
    
    <script type="module" src="../scripts/login.js" defer></script>
</body>
</html>