<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/product.css">
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <link rel="stylesheet" href="../scripts/product.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Products</title> 
</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html"  >Home</a>
                <a href="../views/products.html"  class="active">Products</a>
                <a href="../views/aboutus.html">About Us</a>
                <a href="../views/aboutus.html#contactsec">Contact Us</a>
            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="javascript:void(0);" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="../views/cart.html" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>

    <!-- MAIN -->
     <section class="catalog-container">

        <!-- sidebar -->
         <aside class="sidebar" id="sidebar">
            <div class="sidebar-catalog">
                <p>Main / Catalog</p>
                <h2>Catalog</h2>
            </div>

            <div class="sidebar-category">
                <h3>Category</h3>
                <ul>
                    <li>Foods</li>
                    <li>Drinks</li>
                    <li>Accessories</li>
                    <li>Clothes</li>
                    <li>Paintings</li>
                    <li>Handcrafts</li>
                    <li>Batik</li>
                </ul>
            </div>

            <p class="sidebar-txt">Your Happiness is Our Pleasure</p>
         </aside>


         <!-- product -->
          <div class="product-grid" id="productGrid">
            <!-- Product From Database -->
          </div>
     </section>
    

    <!-- FOOTER -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script>
        feather.replace()
    </script>

    <script src="../scripts/contact.js"></script>
    <script type="module" src="../scripts/script.js"></script>
    <script type="module" src="../custom/navMessage.js"></script>
    
</body>
</html>