<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../style/profile.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="module" src="../scripts/profile.js"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <a class ="headline" href="#">PeduliDisabilitas</a>
            <div class="Menu">
                <a href="../views/home.html" >Home</a>
                <a href="../views/products.html">Products</a>
                <a href="../views/aboutus.html" id="about">About Us</a>
                <a href="../views/aboutus.html#contactsec" id="contact">Contact Us</a>
            </div>

            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Type to search...">
                <i class="search icon"data-feather="search"></i>
            </div>

            <div class="navbar-extra">
                <a href="../views/chat.html" id="message">
                    <i data-feather="message-circle"></i></a>
                <a href="../views/cart.html" id="shopping">
                    <i data-feather="shopping-cart"></i></a>
                <a href="../views/profile.html">
                    <img src="../assets/image/profile-icon.png" alt="">
                </a>
                <a href="#" id="hamburger">
                    <i data-feather="menu"></i>
                </a>
            </div>
           
        </div>
    </nav>
    <div class="profile-container">

        <div class="sidebar">
            <img src="../assets/image/profile-pict.jpg" alt="Profile Picture" class="profile-picture">
            <div class="upload-section">
                <p>Do you want to upload your products?</p>
                <button class="upload-button"><a class="upload" href="../views/form.html">Upload</a></button>
            </div>
        </div>

        <div class="profile-details">
            <div class="header">
                <h2>My Profile</h2>
                <button class="logout-button"><a class="logout" href="login.html">Log Out</a></button>
            </div>

            <div class="details">
                <div class="detail-item">
                    <label>Username</label>
                    <input type="text" id="username" disabled>
                </div>
                <div class="detail-item">
                    <label>Name</label>
                    <input type="text" id="name" disabled>
                </div>
                <div class="detail-item">
                    <label>Email</label>
                    <input type="email" id="email" disabled>
                </div>
                <div class="detail-item">
                    <label>Phone Number</label>
                    <input type="tel" id="phone" disabled>
                </div>
                <div class="detail-item">
                    <label>Date of Birth</label>
                    <input type="text" id="dob" disabled>
                </div>
                <div class="detail-item">
                    <label>Gender</label>
                    <input type="text" id="gender" disabled>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer1">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Authenticity</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="locations.html">Our Locations</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer1">
                    <h4>Follow Us</h4>
                    <div class="sosmed">
                        <a href="#"><i class="icon"data-feather="instagram"></i></a>
                        <a href="#"><i class="icon"data-feather="facebook"></i></a>
                        <a href="#"><i class="icon"data-feather="twitter"></i></a>
                        <a href="#"><i class="icon"data-feather="linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>


    <script>
        feather.replace()
    </script>
        <script src="/public/scripts/contact.js"></script>
</body>
</html>