<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="../style/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
        import { getFirestore, doc, setDoc, getDoc } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-firestore.js";
        const firebaseConfig = {
          apiKey: "AIzaSyDlnPImmvlGesXSzXqH-RLI4QyL2qVkKd0",
          authDomain: "pedulidisabilitas-a8543.firebaseapp.com",
          projectId: "pedulidisabilitas-a8543",
          storageBucket: "pedulidisabilitas-a8543.appspot.com",
          messagingSenderId: "422069751597",
          appId: "1:422069751597:web:a69c60bea4000914090da4",
          measurementId: "G-8PET8RYEF8"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getFirestore(app);
    </script>

    

</head>
<body>
    <h1>PeduliDisabilitas.</h1>
    <div class="form-section">
        <form class="register-form">
            <h2>Register</h2>
            <div class="input-group1"></div>
                
                <label for="email">Email</label>
                <input type="email" id="register-email" name="email" placeholder="" required>
                
                <label for="username">Username</label>
                <input type="text" id="register-username" name="username" placeholder="" required>
    
                <label for="username">Name</label>
                <input type="text" id="register-name" name="name" placeholder="" required>
    
                <label for="phone">Phone Number</label>
                <input type="text" id="register-phone" name="phone" placeholder="" required>
    
                <label for="dob">Date of Birth</label>
                <input type="date" id="register-dob" name="dob" placeholder="" required>
    
                <label for="gender">Gender</label>
                <div class="gender-group">
                    <input id="gender" type="radio" id="male" name="gender" value="male" required>
                    <label for="male">Male</label>
                    
                    <input id="gender" type="radio" id="female" name="gender" value="female" required>
                    <label for="female">Female</label>
                </div>            
    
                <label for="password">Password</label>
                <input type="password" id="register-password" name="password" placeholder="" required>
    
                <label for="password">Confirm Password</label>
                <input type="password" id="confirmpass" name="confirmpass" placeholder="" required>

                <button class="reg" type="submit">Register</button>

                <h5>Already have an account? <a class="regist" href="login.html">Login</a></h5>
            </div>
        
            
        </form>
    </div>
    

    <script type="module" src="../scripts/register.js"></script>
   
</body>
</html>