<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeduliDisabilitas</title>
    <link rel="stylesheet" href="../style/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>PeduliDisabilitas.</h1>
    <form class="register-form">
        <h2>Register</h2>
        <div class="input-group1"></div>
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="" required>
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="" required>

            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone" placeholder="" required>

            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" placeholder="" required>

            <label for="gender">Gender</label>
            <div class="gender-group">
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="male">Male</label>
                
                <input type="radio" id="female" name="gender" value="female" required>
                <label for="female">Female</label>
            </div>            

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="" required>

            <label for="password">Confirm Password</label>
            <input type="password" id="confirmpass" name="confirmpass" placeholder="" required>
        </div>
        <div class="button-register">
            <button><a class="reg" href="home.html">Register</a></button>
        </div>
        <h5>Already have an account? <a class="regist" href="login.html">Login</a></h5>
    </form>

    <script src="../scripts/register.js"></script>
</body>
</html>